{% extends 'polls/base.html' %}
{% block main %}

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    
        <h1>{{ question.question_text }}</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Enviar">
        </form>



    </div>
    <div class="col-sm">
    </div>
  </div>
</div>


{% endblock main %}
